---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Constitution',
};
---
<Layout metadata={metadata}>
    <title>Our Constitution</title>
    <div style="width: 80%;">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vRO_QhbZTcHkD92dq-5INXgq6B_5xIoMreWqVvyvk0D_qBzzsvmk5Va8hukMpo3h2GXhSlFpmbabVBe/pub?embedded=true"></iframe>
    </div>
</Layout>