---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Constitution',
};
---
<Layout metadata={metadata}>
    <section class="bg-blue-50 dark:bg-slate-800 not-prose">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vRO_QhbZTcHkD92dq-5INXgq6B_5xIoMreWqVvyvk0D_qBzzsvmk5Va8hukMpo3h2GXhSlFpmbabVBe/pub?embedded=true" />
        </div>
    </section>
</Layout>