---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Team from '~/components/widgets/Team.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: '#about', variant: 'primary' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'CASA Hero Image' }}
  >
    <Fragment slot="title">
      CASA @ <span class="text-primary dark:text-white highlight">U<span class="hidden md:inline">niversity</span> of T<span class="hidden md:inline">oronto</span>
    </Fragment>

    <Fragment slot="subtitle">
      Cognitive Science and Artificial Intelligence Students' Association
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="About Us"
    id="about"
    items={[
      {
        title: 'Who We Are',
        description:
          'We are a student organization at the University of Toronto dedicated to students interested in cognitive science and act as the general voice of our members.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Our Mission',
        description:
          'We aim to foster a vibrant and inclusive community for students interested in cognitive science. We strive to provide valuable resources, create engaging events, and promote academic and social exchange among students and faculty.',
        icon: 'tabler:heart',
      },
      {
        title: 'What We Do',
        description:
          'We organize a wide range of activities, including academic workshops, social gatherings, and conferences like UTism and Confluence. These events provide opportunities for members to learn, network, and showcase their research.',
        icon: 'tabler:tools',
      },
      {
        title: 'Our Commitment',
        description: `We are dedicated to supporting our members' academic and professional growth. By offering a platform for discussion, collaboration, and innovation, we help students develop their knowledge, skills, and connections in the fields of cognitive science.`,
        icon: 'tabler:topology-ring-2',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1674027444485-cec3da58eef4?auto=format&fit=crop&w=1024&q=80&h=1024',
      alt: 'Cognitive Science Image',
    }}
  >
    <!-- <Fragment slot="content">Designed to foster growth and success.</Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[secondary/33] dark:bg-transparent"></div>
    </Fragment>
  </Content>
  

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Articles"
    information={`Stay up-to-date with the latest news, updates, and announcements from the CASA team.
                `}
  />

  <!-- <Team 
    title="Meet the Team"
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is CASA?',
        description:
          "CASA stands for the Cognitive Science and Artificial Intelligence Student Association. We are a student organization at the University of Toronto dedicated to students interested in cognitive science and AI.",
      },
      {
        title: 'What is the purpose of CASA?',
        description:
          "We aim to represent our members in dealings with the Cognitive Science Program and the broader university community. We provide information on cognitive science, offer forums for discussion between students and faculty, and host events on the latest research in the field.",
      },
      {
        title: 'Who can join CASA?',
        description:
          "All full-time students who are enrolled in a Cognitive Science program or course at the University of Toronto are automatically members of us.",
      },
      {
        title: "What events does CASA host?",
        description:
          "We organize a variety of events, including academic workshops, social gatherings, and conferences like the UTism and Confluence, which showcase research in cognitive science.",
      },
      {
        title: "What benefits do I get as a member of CASA?",
        description:
          "Our members can run for election to the Executive Committee, vote at general meetings, propose amendments to the constitution, and participate in various academic and social events that foster community and professional development.",
      },
      {
        title: "How do I contact CASA?",
        description:
          "You can reach us through by following our Instagram <a href=\"https://instagram.com/casa.uoft\">@casa.uoft</a>, join our <a href=\"https://tinyurl.com/casa-discord\">Discord server</a>, or email us at <a href=\"mailto:casa.uoft@gmail.com\">casa.uoft@gmail.com</a>.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Join our Discord server"
    subtitle="Stay connected with the CASA community and receive the latest updates, event notifications, and resources."
    actions={[
      {
        variant: 'primary',
        text: 'Join now',
        href: 'https://tinyurl.com/casa-discord',
        target: '_blank',
      },
    ]}
  />
</Layout>
